[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
autopep8 = "*"
flake8 = "*"
pytest-cov = "*"
isort = "*"

[packages]
numpy = "*"

[requires]
python_version = "3.8"

[scripts]
isort = "isort . -c"
test = "pytest tests/test_scheme.py --cov=seqeval --cov-report=term-missing"
flake8 = "flake8 seqeval --ignore=F401,E741"
